
@import "variables";

#cont-body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-color: #ccb583;
    opacity: 0.5;
    height: 100%;

    #bg-contact {
        background: url('../img/77.jpg');
        background-repeat: no-repeat;
        background-attachment: relative;
        background-size: cover;
        height: 110vh;
        @include easeOut();

        .welcome:hover {
            box-shadow: rgba(0, 0, 0, 0.5);
            filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.5));
            -webkit-filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.5));
        }

    }

    .tri-cont {
        color: white;

    }
}

// body finished here


// #contact-form{
//   margin-top: 50px;
//   transition: all 4s ease-in-out;
//   -webkit-transition: all 4s ease-in-out;
//   -moz-transition: all 4s ease-in-out;
//   -ms-transition: all 4s ease-in-out;
//   -o-transition: all 4s ease-in-out;


//   .form-control{
//     width: 600px;
//     // background:white;
//     border:none;
//     outline: none;
//     border: 1px solid $silverGold;
//     color:$primary;
//     font-size:18px;
//     margin-bottom: 16px;
//      }
//    .fc {
//      opacity: 0.4;
//      filter: alpha(opacity=30);
//    }

// input {
//   height: 45px;
//   color: white;
// }
// }


#contact-form {
    position: relative;
    margin-left: 30%;
    margin-top: 50px;
    transition: all 4s ease-in-out;
    -webkit-transition: all 4s ease-in-out;
    -moz-transition: all 4s ease-in-out;
    -ms-transition: all 4s ease-in-out;
    -o-transition: all 4s ease-in-out;

    .form-control {
        width: 600px;
        // background:white;
        border: none;
        outline: none;
        border: 1px solid white;
        color: $primary;
        font-size: 18px;
        margin-bottom: 16px;
    }

    .fc {
        opacity: 0.4;
        filter: alpha(opacity=30);
    }

    input {
        height: 45px;
        color: white;
    }

    #submit {
        background-color: $maincolor;
        border-color: transparent;
        color: white;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        height: 50px;
        margin-top: 20px;

    }

    #submit:hover {
        background-color: white;
        color: $maincolor;
        cursor: pointer;
    }

    #con-formg {
        position: absolute;
        top: 6rem;
        left: 40rem;
        //  background-color: azure;
        min-height: 30rem;
        width: 45em;
    }
}

.amanmesscon {
    font-family: $amanfont;
    margin-left: 35%;
    margin-top: 10%;
    font-size: 2rem;
    line-height: 0.1;
    font-stretch: ultra-expanded;
    text-transform: uppercase;
}