@import "variables.scss";
@import "mixin.scss";
// .list-unstyled
body{
    background-color:#eeeded;
}
.tinone {
    background-color: white;
}
.threeIn2,
.threeIn1{
    margin-top: -15rem;
}
.footer-ground{
    background-color:#eeeded;
    position: relative;
    top:-25rem;
    height: 5rem;
    width:100%;
    z-index: 99;
}
footer{
    margin-top:-49rem;
}
.fot {
   position: relative;
//  background-color:#eeeded;
 background-color: #e6e1e1;
 
//  bottom: -13rem;
width:100%;
height: 250px;
 top:-45rem !important;
//  margin-top: 5rem;
 bottom:0px;
 z-index:-8 !important;
}
.page-footer {
    // position: absolute;
   // background-color: rgba(lighten($primary, 2), 0.5);
.mx-1{
    color:$silverGold !important;
}
}
.footer-copyright{
    padding:1rem 0rem 1rem 0rem;
    background-color:$silverGold;
    color:white;
    a{
       text-decoration-line: none;
       -moz-text-decoration-line: none;
       color:white;
}
}

@include mediaXsm{
 .ver-lines,
.ver-line,
.vers-line,
.vers-lines{
    display:none;
}
.d.text-center{
margin-left:5rem !important;
}
    .threeIn2{
        margin-top: 1rem !important;
    }
    .threeIn1 {
        display: grid;
    //     grid-auto-flow: row;
        grid-gap: 2rem;
    //     width: 250px
   
        margin-top:-3rem !important;
        margin-left: -10% !important;
    }
    .lowerlogo{
        height:5rem !important;
    }
.lowerflower{
    width:10rem !important;
    margin-left:-5rem !important;
}
    .tinone {
        position: relative;
        padding: 11px;
        padding-bottom: -3px !important;
        box-shadow: 0 0 0 7px #fff, 0 0 0 8px #ddd;
        background-color: white !important;
        // left: -10% !important;
        width:265px !important;
        a {
           color: $primary;
            text-decoration-line: none;
            -moz-text-decoration-line: none;
        }
    }
.d{
max-width: 265px;
}
  .a,
  .c {
            border: 10px solid #9f9f9f;
  }
  .b {
          border: 10px solid $silverGold;
  }
 
   .aman1,
  .index1 {
      color: rgb(255, 217, 0);
      font-size: 1rem;
      position: relative !important;
      top: -30rem;
      margin-left: 2rem;
      font-weight: 900;
      z-index: 1555;
  }
 .profes,
  .index2 {
      font-family: $cursivefont;
      font-size: -5rem;
      color: rgb(226, 226, 193);
      z-index: 8px;
      position: relative;
      top: -31rem;
      margin-left: 4.2rem;
  }


}
@include mediaMd{
    .ver-lines,
    .ver-line,
    .vers-line,
    .vers-lines {
        display: none;
    }
    div.links{
       position: absolute !important;
       top: -13rem !important;
       // top: -2.5rem;
       left: 13rem !important;
    }
.threeIn2 {
    margin-top: 1rem !important;
}

  .threeIn1 {
      
      display: grid;
      left: 15% !important;
      //     grid-auto-flow: row;
      grid-gap: 2rem;
      //     width: 250px;
      margin-left: 20% !important;
  }

  .tinone {
    //   position: relative;
      padding: 11px;
      padding-bottom: -3px !important;
      box-shadow: 0 0 0 7px #fff, 0 0 0 8px #ddd !important;
      background-color: eeeee!important;
     margin-left:15%;
      width: 245px;

      a {
          color: $primary;
          text-decoration-line: none;
          -moz-text-decoration-line: none;
      }
      .a,
      .c {
          position:absolute;
          border: 10px solid #9f9f9f;
           margin-left: 25% !important;
      }

      .b {
          border: 10px solid $silverGold;
      }
      .e{
          margin-left:50px !important;
      }
  }
  .homeland {
      margin-top: 25%;
  }

  #bindex {
      position: initial;
      height: 100%;

      #indexb {

          background-color: #ccb583;
          opacity: 0.5;
          height: 100%;

          span {
              display: block;
          }
      }
     .aman1,
     .index1 {
          font-family: $mainfont;
          color: rgb(212, 206, 179);
          font-size: 3rem !important;
          position: relative;
          top: -30rem;
          margin-left: 5rem;
          font-weight: 900;
      }
    .profes {
        font-size: 2rem !important;
        font-family: $cursivefont;
        color: rgb(226, 226, 193);
        z-index: 8;
        position: relative !important;
        top: -31rem;
        margin-left: 7.8rem !important;
         font-size: 20px !important;
    }


     .index2 {
          font-size:2rem !important;
          font-family: $cursivefont;
          color: rgb(226, 226, 193);
          z-index: 8;
          position: relative !important;
          top: -32rem;
          margin-left: 11.2rem !important;
      }

      .ver-line {
          display: none !important;
          background-color: rgb(212, 206, 179);
          height: 5rem;
          width: 13px;
          position: relative;
          top: -37.2em;
          left: 30.4rem;
          z-index: 9;
      }
  }
   .lowerflower {
       position: relative !important;
       left: 70% !important;
       width: 10rem;
   }
}
@include mediaLg{
     .lowerflower {
         position: relative !important;
         left: 80% !important;
         width:10rem;
     }
    div.links {
        position: absolute !important;
        top: -9rem !important;
        // top: -2.5rem;
        left: 36rem !important;
    }
    .threeIn2
    .threeIn1 {
        // position: absolute;
        // left:-15%;
       
        top: 15rem;
        display: grid;
        grid-gap: 3px;
        grid-template-columns: repeat(2, 265px);
        grid-template-rows: auto;
        grid-template-areas: 
        'd d'
        ;
    }

    .tinone {
        padding: 11px;
        padding-bottom: -3px;
        box-shadow: 0 0 0 7px #fff, 0 0 0 8px #ddd;
        width:265x;
        a {
            color: $primary;
            text-decoration-line: none;
            -moz-text-decoration-line: none;
        }

    }
.b {
    // grid-area: a;
    // border: 10px solid #9f9f9f;
 grid-column: 2/3;
}

.e {
    
    grid-column: 1/4;
    margin-left:15%;
    // grid-area: b;
    // border: 10px solid $silverGold;

}

.c {
     margin-left: -60% !important;
    grid-column: 2/2;
    // border: 10px solid #9f9f9f;
}

.d {
    position:relative;
    min-width: 590px !important;
    left: -15%;
//    grid-column:  /3;
    // text-align: center;
}
.threeIn2,
 .threeIn1 {
     display: grid;
     //     grid-auto-flow: row;
     grid-gap: 2rem;
     //     width: 250px;
     margin-left: 20% !important;
 }

 .tinone {
     position: relative;
     padding: 11px;
     padding-bottom: -3px !important;
     box-shadow: 0 0 0 7px #fff, 0 0 0 8px #ddd;
      background-color: white;

     width: 265px;

     a {
         color: $primary;
         text-decoration-line: none;
         -moz-text-decoration-line: none;
     }
 }

 .d {
     max-width: 265px;
 }

 .a,
 .c {
     border: 10px solid #9f9f9f;
 }

 .b {
     border: 10px solid $silverGold;
 }
 #bindex {
     position: initial;
     height: 100%;

     #indexb {

         background-color: #ccb583;
         opacity: 0.5;
         height: 100%;

         span {
             display: block;
         }
     }

     .index1 {
         font-family: $mainfont;
         color: white;
         font-size: 5rem;
         position: relative;
         top: -30rem;
         margin-left: 5rem;
         font-weight: 900;
     }

     .index2 {
         font-family: $cursivefont;
         color: white;
         z-index: 8;
         position: relative;
         top: -31.5rem;
         margin-left: 25rem;
     }

     .ver-line {
         background-color: white;
         height: 5.5rem;
         width: 13px;
         position: relative;
         top: -38em;
         left: 43rem;
         z-index: 9;
     }
 }
}
@include mediaXl{
    .threeIn2,
    .threeIn1 {

        top: 15rem;
        display: grid;
        grid-gap: 2rem;
        //   margin-top: 25px;
        margin-left: 25%;
        grid-template-columns: repeat(3, 265px);
        grid-template-areas:
            'd d d '
            '- e e '
            'a b c';
    }

    .tinone {
        padding: 11px;
        padding-bottom: -3px;
        box-shadow: 0 0 0 7px #fff,0 0 0 8px #ddd;

        // width:250px;
        a {
            color: $primary;
            text-decoration-line: none;
            -moz-text-decoration-line: none;
        }

    }

    .a {
        grid-area: a;
        border: 10px solid #9f9f9f;

    }

    .b {
        grid-area: b;
        border: 10px solid $silverGold;

    }

    .c {
        grid-area: c;
        border: 10px solid #9f9f9f;
    }

    .d {
        grid-area: d;
        text-align: center;
    }

    .e {
        grid-area: e;
        // margin-left:50rem;
    }
}