


.wed-text {
    display: none;
    color: $primary;
    margin-left: 15%;

    h2.wed-title {
        font-family: $amanfont;
        // margin-top:13rem;

        span {
            font-family: $curfont;
        }
    }
}

.wed-main-title {
    padding-left: -5em !important;
    font-weight: 100;
    margin: 2rem;
    font-family: $curfont;
    font-size: 5.5rem;
    font-stretch: extra-expanded;
}


.wedground {
    background: url("./../imgs/opd.png");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 3000;

}

.enground {
    background: url("./../imgs/11.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 82.5vh;
}

.gradground {
    background: url("./../imgs/17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


.eng {
    position: absolute;
     right: 0%;

}
.intag{
    position: relative !important;
    top:15rem !important;
    background-color:red;
}
.fotgs{
    position:relative;
    top:60rem;

}
.zerumess{
    position: relative;
   margin-top: 3rem !important;
}
.selga{
  position:relative;
  top:13rem;  
}
// h5.marriage{
//     margin-top: 2rem !important;
// }
@include mediaLg {
.selga {
    position: relative;
    top: 5rem !important;
}
h5.marriage{
    
    position:relative;
  left: 18rem !important;
}
}

@include mediaMd {
 .selga {
   
     position: relative;
     top: 5rem !important;
 }
 h5.marriage {
       display: none;
     position: relative;
     left: 5rem !important;
 }
}
@include mediaSm {
 h5.marriage {
     display: inline;
     position: relative;
     left: 5rem !important;
 }
h5.marriage{
    position: relative;
   left: 6rem !important;
}
}
@include mediaXsm{
.selga {
    position: relative;
    top: 5rem !important;
}
}
.galies {
    width: 99%;
    border: 10px solid white;

    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
        0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.gallery {
    margin-bottom: 1.5rem !important;
}

.galies:before,
.galies:after {
    content: "";
    position: absolute;
    z-index: -1;

    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);

}


.galies:hover {
    box-shadow: 0 0 11px $primary;
    transform: scale(1);
    transition: opacity 2s ease-in-out;
    border: 10px soft $primary;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    -webkit-transition: opacity 2s ease-in-out;
    -moz-transition: opacity 2s ease-in-out;
    -ms-transition: opacity 2s ease-in-out;
    -o-transition: opacity 2s ease-in-out;
}


// span.close {
//     position: absolute;
//     top: 15%;
//     left: 72%;
//     z-index: 150;
//     zoom: 1.5;
// }
.wed-text {
    display: none;
    color: $primary;
    margin-left: 15%;

    h2.wed-title {
        font-family: $amanfont;
        // margin-top:13rem;

        span {
            font-family: $curfont;
        }
    }
}

.wed-main-title {
    padding-left: -5em !important;
    font-weight: 100;
    margin: 2rem;
    font-family: $curfont;
    font-size: 5.5rem;
    font-stretch: extra-expanded;
}

.five-aman {
    margin-left: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // grid-gap:-21rem;
    grid-column-gap: 15px;
}
.we-choose{
    margin-top: 15rem;
    color:$silverGold;
}
