@import "variables";


// #bg-aman {
  .aman  {
       background: transparent url('./../imgs/13.jpg') repeat top left;
       background-repeat: no-repeat;
          background-attachment: fixed;
       background-size: cover;
       height: 100%;
    //  position: fixed;
width: 100%;
height: 100%;
top: 0rem;
left: 0px;
z-index: -100;
   
}
.fots {
      position: relative;
    //    background-color:red;
      background-color: #e6e1e1;

      //  bottom: -13rem;
      width:100%;
      height: 250px;
      top:-45rem !important;
      //  margin-top: 5rem;
      bottom:0px;
      z-index:-8 !important;
}
.threeIn2{
    margin-top:-25rem;
    padding-bottom: 5rem;
}



h5.profes{
    font-size: 1rem;
    font-kerning: normal;
    font-weight: 100;
    color: $maincolor;
    // margin-top:-85rem;
}




 .aman1 {
     font-family: $mainfont;
     color: white;
     font-size: 5rem;
     position: relative;
     top: -25rem;
     margin-left: 5rem;
     font-weight: 900;
 }

 .profes {
     font-family: $cursivefont;
     color: white;
     z-index: 8;
     position: relative;
     top: -24.3rem;
     margin-left: 21rem;
     font-size: 20.5px;
 }