$maincolor:#ababab;
$curfont:'Kristi',cursive;
$cursivefont:'Parisienne', cursive; 
$mainfont:'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif; 
$amanfont:'Trajan Pro Regular',Helvetica,Arial,sans-serif;
$primary: rgb(138, 135, 135);
$preprimary:#a3a0a0;
$show-home-image:true;
$silverGold:#b9b1a7;